**Prints Hello World**

In [ ]:
# prints hello world
print('Hello World')

In [ ]:
x = 'Hello World'

In [ ]:
print(x)

Hello World

**Assignments**

Assign data to variables

In [ ]:
number = 10

In [ ]:
print(number)

10

In [ ]:
number = 1

In [ ]:
number += 2

number = number + 2

In [ ]:
print(number)

3

number = number - 3

In [ ]:
number -= 3

In [ ]:
print(number)

0

In [ ]:
def add_numbers(x,y):
  z = x + y
  return z

In [ ]:
number = 1
print(number)
number = 3
print(number)

1
3

In [ ]:
number = 5
number *= 5
print(number)

25

In [ ]:
print(type(number))

<class 'int'>

In [ ]:
pi = 3.142
print(type(pi))

<class 'float'>

In [ ]:
hannah_age = 22.5
print(hannah_age)
print(type(hannah_age))

22.5
<class 'float'>

In [ ]:
message = 'hello beautiful world'
print(type(message))

<class 'str'>

In [ ]:
students = ['felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang']

In [ ]:
print(students)

['felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang']

In [ ]:
print(type(students))

<class 'list'>

In [ ]:
students = ('felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang')

In [ ]:
print(type(students))

<class 'tuple'>

In [ ]:
students_list = list(('felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang'))

In [ ]:
print(type(students_list))

<class 'list'>

In [ ]:
print(students_list[0])

felipe

In [ ]:
students_tuple = tuple(('felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang'))

In [ ]:
print(students_tuple)

('felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang')

In [ ]:
# create a list with different data
my_mixed_list = ['abc', 7, True, 'male']
print(my_mixed_list)

['abc', 7, True, 'male']

In [ ]:
my_mixed_list.remove('male')
print(my_mixed_list)

['abc', 7, True]

In [ ]:
students_list = list(('felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang'))
students_list.pop(2)
print('using pop:', students_list)

using pop: ['felipe', 'hannah', 'atul', 'avinash', 'yong fang']

In [ ]:
students_list.append('lorvi')
print(students_list)

['felipe', 'hannah', 'atul', 'avinash', 'yong fang', 'lorvi']

In [ ]:
import numpy as np

students_matrix = np.array(['felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang'])

In [ ]:
print(type(students_matrix))

<class 'numpy.ndarray'>

In [ ]:
print(students_matrix[0])

felipe

In [ ]:
print(students_matrix[3])

atul