# Python - Data Iterations & Boolean Conditions

**Python Conditions and IF-ELSE statements**

Used for testing for true or false

**IF Statement**

In [ ]:
a = 1
b = 10
if b < a:
  print('b is greater than a')

**IF-ELSE Statement**

In [ ]:
# assign values to variables a and b
a = 100
b = 100

# test for conditions
# if b is greater than a
if b > a:
  print('b is greater than a')

# if a and b are equal  
elif a == b:  
  print('a and b are equal')

a and b are equal

**Iterations or Loops**

FOR is used to iterate over sequences (list, tuple, array, set or strings)

In [ ]:
# create a list
fruits = list(('apples', 'oranges', 'bananas', 'kiwis'))
print(fruits)

['apples', 'oranges', 'bananas', 'kiwis']

In [ ]:
# now iterate through list with fruits
# idx is an indexing variable - it is made up
for fruit in fruits:
  print(fruit)

apples
oranges
bananas
kiwis

In [ ]:
for idx, fruit in fruits:
  print(idx)
  print(fruit)

ValueError: ignored

In [ ]:
for idx, fruit in enumerate(fruits):
  print(idx)
  print(fruit)

0
apples
1
oranges
2
bananas
3
kiwis

In [ ]:
for idx, fruit in enumerate(fruits):
  print(idx, fruit)

0 apples
1 oranges
2 bananas
3 kiwis

In [ ]:
number_of_fruits = len(fruits)

In [ ]:
print(number_of_fruits)

4

In [ ]:
students = ['felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang']
print(students)

['felipe', 'hannah', 'lorvi', 'atul', 'avinash', 'yong fang']

In [ ]:
number_of_students = len(students)

In [ ]:
print(number_of_students)

6

In [ ]:
# while number_of_students <= 6:
#   print('Yes')

In [ ]:
control = 0
while control <= number_of_students:
  print('Yes')
  # control = control + 1
  control += 1

Yes
Yes
Yes
Yes
Yes
Yes
Yes

In [ ]:
idx = 1
while idx < len(students):
  #print(idx)
  print(students[idx], idx)
  idx+=1

hannah 1
lorvi 2
atul 3
avinash 4
yong fang 5

**while loops**

Documentation: https://docs.python.org/3/tutorial/controlflow.html

**FOR and IF-ELSE**

In [ ]:
# create a list
fruits = list(('apples', 'oranges', 'bananas', 'kiwis'))
print(fruits)

['apples', 'oranges', 'bananas', 'kiwis']

In [ ]:
# now iterate through list with fruits
for idx in fruits:
  # look at the index
  print(idx)
  if idx == 'oranges':
    print('Yay!', idx)
  elif idx == 'kiwis':
    print('Hooray!', idx)
  elif:
      
  else:
    print('finally')

apples
finally
oranges
Yay! oranges
bananas
finally
kiwis
Hooray! kiwis

**Pandas Library**

https://pandas.pydata.org/

In [ ]:
import pandas as pd

In [ ]:
bikes = pd.read_csv('/content/drive/MyDrive/citibike_tripdata_082016.csv')

In [ ]:
print(bikes)

       Trip Duration        Start Time  ... Birth Year  Gender
0                165   2016/08/01 0:09  ...     1968.0       1
1                705   2016/08/01 1:45  ...     1978.0       1
2                854   2016/08/01 2:22  ...     1988.0       1
3                211   2016/08/01 3:05  ...     1986.0       1
4                506   2016/08/01 3:25  ...     1986.0       1
...              ...               ...  ...        ...     ...
34144            421  2016/08/31 23:42  ...     1989.0       1
34145            295  2016/08/31 23:44  ...     1980.0       2
34146            227  2016/08/31 23:50  ...     1987.0       1
34147            312  2016/08/31 23:56  ...     1988.0       1
34148            229  2016/08/31 23:59  ...     1958.0       1

[34149 rows x 15 columns]

In [ ]:
bikes.head()

   Trip Duration       Start Time  ... Birth Year  Gender
0            165  2016/08/01 0:09  ...     1968.0       1
1            705  2016/08/01 1:45  ...     1978.0       1
2            854  2016/08/01 2:22  ...     1988.0       1
3            211  2016/08/01 3:05  ...     1986.0       1
4            506  2016/08/01 3:25  ...     1986.0       1

[5 rows x 15 columns]

In [ ]:
bikes.tail()

       Trip Duration        Start Time  ... Birth Year  Gender
34144            421  2016/08/31 23:42  ...     1989.0       1
34145            295  2016/08/31 23:44  ...     1980.0       2
34146            227  2016/08/31 23:50  ...     1987.0       1
34147            312  2016/08/31 23:56  ...     1988.0       1
34148            229  2016/08/31 23:59  ...     1958.0       1

[5 rows x 15 columns]

In [ ]:
print(bikes.shape)

(34149, 15)

In [ ]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34149 entries, 0 to 34148
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Trip Duration            34149 non-null  int64
 1   Start Time               34149 non-null  object
 2   Stop Time                34149 non-null  object
 3   Start Station ID         34149 non-null  int64
 4   Start Station Name       34149 non-null  object
 5   Start Station Latitude   34149 non-null  float64
 6   Start Station Longitude  34149 non-null  float64
 7   End Station ID           34149 non-null  int64
 8   End Station Name         34149 non-null  object
 9   End Station Latitude     34149 non-null  float64
 10  End Station Longitude    34149 non-null  float64
 11  Bike ID                  34149 non-null  int64
 12  User Type                34095 non-null  object
 13  Birth Year               30717 non-null  float64
 14  Gender                   34149 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 3.9+ MB

In [ ]:
bikes.describe()

       Trip Duration  Start Station ID  ...    Birth Year        Gender
count   3.414900e+04      34149.000000  ...  30717.000000  34149.000000
mean    7.959736e+02       3210.791590  ...   1979.578833      1.096313
std     7.507408e+03         31.159689  ...      9.485320      0.543693
min     6.100000e+01       3183.000000  ...   1934.000000      0.000000
25%     2.530000e+02       3186.000000  ...   1975.000000      1.000000
50%     4.100000e+02       3202.000000  ...   1982.000000      1.000000
75%     7.120000e+02       3213.000000  ...   1986.000000      1.000000
max     1.258736e+06       3281.000000  ...   1998.000000      2.000000

[8 rows x 10 columns]

In [ ]:
bikes.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [ ]:
print(bikes['Trip Duration'])

0        165
1        705
2        854
3        211
4        506
        ...
34144    421
34145    295
34146    227
34147    312
34148    229
Name: Trip Duration, Length: 34149, dtype: int64